@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

body {
  font-family: "Pretendard JP Variable", "Pretendard JP", "Pretendard",
    sans-serif;
}

@for $i from 11 through 50 {
  .fs-#{$i}px {
    font-size: #{$i}px;
  }

  .lh-#{$i}px {
    line-height: #{$i}px;
  }
}

@for $i from 1 through 7 {
  .fw-#{$i}00 {
    font-weight: #{$i}00;
  }
}

.text-center {
  text-align: center;
}

.text-gray {
  color: #868e96;
}

.text-black {
  color: #212529;
}

.text-primary {
  color: #519cff;
}
